target/

# this is for the generated modules
**/target/

# user specific configuration
examples/src/main/resources
libs/src/test/resources

# sbt specific
*.class
*.log
.cache
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

#idea specific
.idea/*
.env
# User-specific stuff:
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml